select option {
  background-color: #8b9edf;
  font-weight: bold;
}

select {
  background-color: #8b9edf;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.darkblue {
  color: #3c3c80e7;
}

.green {
  color: lightgreen;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.yellow {
  color: #f8f7b4;
  font-weight: bold;
}

.white {
  color: white;
  font-weight: bold;
}
.black {
  color: black;
  font-weight: bold;
}
.bigText {
  font-size: 25px;
}
.smallText {
    font-size: 14px;
}
